@charset "UTF-8";
.base {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  min-width: 200px;
  姘慼eight: 70px;
  box-shadow: inset 0 0 2px 2px #c8c8c8; }
  .base .message {
    padding-left: 10px;
    padding-right: 10px; }
    .base .message.info {
      background-color: #d9edf7; }
    .base .message.success {
      background-color: #dff0d8; }
    .base .message.warning {
      background-color: #fcf8e3; }
    .base .message.danger {
      background-color: #f2dede; }
    .base .message .title {
      height: 25px;
      line-height: 25px;
      font-size: 14px; }
    .base .message .text {
      height: 45px;
      font-size: 14px; }
