.base .clientFilter {
  margin-bottom: 20px; }
  .base .clientFilter .section {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top; }
    .base .clientFilter .section .rowFilter {
      height: 28px;
      padding: 2px 10px;
      border: 1px solid #ccc;
      outline: none;
      width: 120px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
    .base .clientFilter .section button.filter {
      height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #ccc;
      width: 80px;
      background-color: white;
      outline: none;
      cursor: pointer; }
      .base .clientFilter .section button.filter i.loading {
        animation: loading 5s infinite linear; }
@keyframes loading {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
    .base .clientFilter .section button.loading {
      background-color: #ccc; }
    .base .clientFilter .section select.page {
      height: 34px;
      min-width: 80px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 10px; }
    .base .clientFilter .section input[type=number].filter {
      padding-left: 10px;
      padding-right: 10px;
      height: 28px;
      width: 100px; }
.base .serverFilter {
  margin-bottom: 20px; }
  .base .serverFilter .section {
    display: inline-block;
    margin-right: 20px; }
    .base .serverFilter .section input[type=number].filter, .base .serverFilter .section input[type=text].filter {
      padding-left: 10px;
      padding-right: 10px;
      height: 28px;
      width: 100px;
      font-size: 13px; }
    .base .serverFilter .section input[type=number].filter.required::-webkit-input-placeholder, .base .serverFilter .section input[type=text].filter.required::-webkit-input-placeholder {
      color: #dd4b39; }
    .base .serverFilter .section input[type=number].filter.required:-moz-placeholder, .base .serverFilter .section input[type=text].filter.required:-moz-placeholder {
      color: #dd4b39; }
    .base .serverFilter .section input[type=number].filter.required::-moz-placeholder, .base .serverFilter .section input[type=text].filter.required::-moz-placeholder {
      color: #dd4b39; }
    .base .serverFilter .section input[type=number].filter.required:-ms-input-placeholder, .base .serverFilter .section input[type=text].filter.required:-ms-input-placeholder {
      color: #dd4b39; }
    .base .serverFilter .section button.filter {
      height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #ccc;
      width: 80px;
      background-color: white;
      outline: none;
      cursor: pointer; }
      .base .serverFilter .section button.filter i.loading {
        animation: loading 5s infinite linear; }
@keyframes loading {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
    .base .serverFilter .section button.loading {
      background-color: #ccc; }
    .base .serverFilter .section select.filter {
      height: 34px;
      min-width: 80px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 10px; }
    .base .serverFilter .section .rowFilter {
      height: 28px;
      padding: 2px 10px;
      border: 1px solid #ccc;
      outline: none;
      width: 120px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.base .panel-attachment .upload {
  margin-bottom: 20px; }
  .base .panel-attachment .upload input {
    height: 20px;
    padding: 6px 6px;
    width: 186px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .base .panel-attachment .upload .progress {
    margin-top: 15px;
    background-color: #f3f3f3;
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center; }
  .base .panel-attachment .upload button {
    height: 34px;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    width: 200px;
    background-color: white;
    outline: none;
    cursor: pointer;
    margin-right: 20px; }
.base .panel-attachment table thead tr th {
  min-width: 100px;
  text-align: center; }
.base .panel-attachment table thead tr th:first-child {
  min-width: 200px; }
.base .panel-attachment table tbody tr td {
  text-align: center; }
  .base .panel-attachment table tbody tr td i {
    cursor: pointer; }
.base .chart {
  margin-bottom: 20px; }
  .base .chart .section {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 20px; }
.base .table {
  margin-bottom: 20px; }
  .base .table table {
    width: 100%;
    border-collapse: collapse; }
    .base .table table thead {
      background-color: #e9e9e9;
      color: #252525;
      font-weight: bold;
      font-size: 14px; }
      .base .table table thead tr th {
        min-width: 50px;
        padding: 10px;
        border: 1px solid #cccccc;
        text-align: center;
        user-select: none; }
      .base .table table thead tr th.checkbox {
        padding: 2px; }
        .base .table table thead tr th.checkbox input[type=checkbox] {
          height: 20px;
          width: 20px;
          cursor: pointer; }
      .base .table table thead tr th.hide {
        display: none; }
      .base .table table thead tr th:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 1px #dedede;
        background-color: #f3f3f3; }
      .base .table table thead tr th.checkbox:hover {
        cursor: auto; }
    .base .table table tbody {
      background-color: white;
      color: #272727;
      font-size: 12px; }
      .base .table table tbody tr td {
        padding: 10px;
        border: 1px solid #cccccc;
        word-break: break-all;
        text-align: center; }
        .base .table table tbody tr td input {
          width: 120px;
          height: 30px;
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid #cccccc; }
        .base .table table tbody tr td select {
          height: 36px;
          border: 1px solid #cccccc; }
        .base .table table tbody tr td textarea {
          overflow-y: visible; }
        .base .table table tbody tr td a {
          text-decoration: none;
          color: #14c864; }
        .base .table table tbody tr td a:hover {
          color: rgba(20, 200, 100, 0.8); }
      .base .table table tbody tr td.checkbox {
        padding: 2px; }
        .base .table table tbody tr td.checkbox input[type=checkbox] {
          height: 20px;
          width: 20px;
          cursor: pointer; }
      .base .table table tbody tr td.hide {
        display: none; }
