@charset "utf-8";
body {
    font-family: "Microsoft YaHei UI", Arial;
    .top{
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
        background-color: rgba(45,135,226,1);
        font-size: 13px;
        color: white;
    }
}
